html{
    margin: 0px auto;
}

form{
    text-align: center;
    margin: 0px auto;
    display: flex;
}

input, select, textarea{
    outline: none;
    border: 0;
    border-bottom: 1px grey solid;
    margin: 5px;
    padding: 10px;
    font-size: 1.05em;
    background-color: whitesmoke;
}

input:focus{
    outline: none;
    border: 0;
    border-bottom: 1px black solid;
}

label{
    font-size: 1.3em;
    font-weight: bold;
    border-bottom: 2px black solid;
    margin: 20px;
}

#boton{
    width: 100%;
    text-align: center;
}